@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
    --fonte_destaque: "Poppins", Arial, Sans-serif;
    --fonte_titulo: 'Staatliches', Arial, Sans-serif;
    --fonte_corpo: "Barlow", Arial, Sans-serif;
    --cor01: #401E1D;
    --cor02: #D16237;
    --cor03: #F8B243;
    --cor04: #F3F0BB;
    --cor05: #34A0A0;
}

*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
}

body {
    background-color: white;
    font-family: var(--fonte_corpo);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    align-items: center;
    background-color: var(--cor03);
    border-bottom: 1px solid var(--cor01);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.logo {
    width: 3rem;
    cursor: pointer;
}

ul.nav_links li a, button#log_in {
    font-family: var(--fonte_destaque);
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--cor01)
}

ul.nav_links li {
    padding: 10px 20px;
}

ul.nav_links li:hover {
    background-color: var(--cor04);
    border-radius: 10px;
    transition: 0.3s;
}

ul.nav_links li:hover>a{
    font-weight: bold;
    transition: 0.3s;
}

.nav_links, .dropdown {
    list-style: none;
    gap: 5px;
    display: flex;
    transition: 0.3s;
}

ul.dropdown {
    display: none;
    padding: 10px;
    background-color: var(--cor04);
}

ul li:hover ul.dropdown {
    display: block;
    position: absolute;
    margin-top: 5px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 11px 7px 3px rgba(0, 0, 0, 0.3);
}

ul.dropdown li a:hover {
    font-weight: bold;
    border-radius: 10px;
}

button#log_in {
    padding: 8px 15px;
    border: 1px solid white;
    background-color: var(--cor04);
    color: var(--cor01);
    border-radius: 20px;
    cursor: pointer;
}

button#log_in:hover {
    color: var(--cor01);
    font-weight: bold;
    border-color: var(--cor03);
    box-shadow:  0px 0px 13px var(--cor02);
    transition: 0.3s;
}

picture img#cover {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    display: block;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-top: -3px;
    margin-bottom: 30px;
    padding: 20px; 
    font-family: var(--fonte_corpo);
    font-size: 1.3rem;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main p {
    margin: 10px 0px;
    text-align: justify;
    font-weight: 500;
    text-indent: 20px;
    line-height: 1.5em;
}

h1 {
    font-family: var(--fonte_titulo);
    font-weight: 300;
    font-size: 2.5rem;
    color: var(--cor01);
}

h2 {
    margin-top: 10px;
    font-family: var(--fonte_titulo);
    font-weight: 300;
    font-size: 2rem;
    color: var(--cor01);
}

h3 {
    font-family: var(--fonte_titulo);
    font-weight: 300;
    font-size: 1.5rem;
    color: var(--cor01);
}

.streaming_links {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.streaming_links img {
    max-width: 3rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.streaming_links img:hover {
    transform: scale(1.05);
}

section#intro {
    padding: 0px 15px;
    border-left: 3px solid var(--cor05);
    margin-bottom: 35px;
}

.video-container {
    position:relative;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
}

.video-container iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

aside {
    margin-bottom: 30px;
    padding: 20px;
}

footer {
    padding: 40px;
    background-color: var(--cor03);
    color: white;
    text-align: center;
    font-family: var(--fonte_destaque);
    font-weight: 500;
}

#logo_footer {
    width: 5rem;
}
div#container {
    min-height: 800px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

